{% extends 'main/form.html' %}

{% block main %}
  <div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center" style="height: 80vh">
      <div class="card col-3">
        <div class="card-body">
          <div class="card-header"><h1 class="h3 fw-lighter">{{ title }}</h1>
            <div class="card-subtitle"><h6 class="text-muted fw-medium"></h6></div>
          </div>
          {{ block.super }}
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block submit %}
  <input class="btn btn-primary btn-block" type="submit" value="{{ title }}">
{% endblock %}
